.meals{
  
    max-width: 90%;
    width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
    
}

.meals ul{
    list-style: none;
}
.loading{
    text-align: center;
    color: white;
    font-size: 3rem;
}