
.summary{
    color: white;
    max-width: 40rem;
    width: 90%;
    background-color: khaki;
    border-radius: 13px;
    margin: 0 auto;
    margin-top: -10rem;
    padding: 10px;
    background-color: rgb(61, 57, 57);
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.25);
    position: relative;
    text-align: center;
}

.summary h2{
    font-size: 1.7rem;
    margin-top: 0;
}