.input label{
    
    color: rgb(26, 24, 24);
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 10px;
    font-size: 15px;
}

.input input{
    width: 25px;
    text-align: center;
}